<a href="https://colab.research.google.com/github/Namonje2/Data_analyst_project/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [ ]:
data = 'https://raw.githubusercontent.com/gsusAguirreArz/2022-billionaire-EDA/master/out/2022_billionaires.csv'

In [ ]:
forbes_df = pd.read_csv(data)

In [ ]:
forbes = pd.read_csv('https://raw.githubusercontent.com/gsusAguirreArz/2022-billionaire-EDA/master/out/2022_billionaires.csv')

In [ ]:
forbes

,Unnamed: 0,rank,name,networth,age,country,source,industry
0,0,Rank,Name,Net Worth,Age,Country / Territory,Source,Industry
1,1,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
2,2,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
3,3,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
4,4,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
...,...,...,...,...,...,...,...,...
2608,2608,2578.,Jorge Gallardo Ballart,$1 B,80,Spain,pharmaceuticals,Healthcare
2609,2609,2578.,Nari Genomal,$1 B,82,Philippines,apparel,Fashion & Retail
2610,2610,2578.,Ramesh Genomal,$1 B,71,Philippines,apparel,Fashion & Retail
2611,2611,2578.,Sunder Genomal,$1 B,68,Philippines,garments,Fashion & Retail
2612,2612,2578.,Horst-Otto Gerberding,$1 B,69,Germany,flavors and fragrances,Food & Beverage

In [ ]:
my_dict = {'student ID': [1,2,3,4,5],
           'student name': ['Anna', 'Victoria', 'Simi', 'Mwaka', 'Prisca'],
           'subject': ['Data', 'Music', 'Science', 'Data', 'Data']}

In [ ]:
df_dict = pd.DataFrame (my_dict)

In [ ]:
df_dict

   student ID student name  subject
0           1         Anna     Data
1           2     Victoria    Music
2           3         Simi  Science
3           4        Mwaka     Data
4           5       Prisca     Data

In [ ]:
forbes.head ()

,Unnamed: 0,rank,name,networth,age,country,source,industry
0,0,Rank,Name,Net Worth,Age,Country / Territory,Source,Industry
1,1,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
2,2,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
3,3,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
4,4,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology

In [ ]:
forbes.tail ()

,Unnamed: 0,rank,name,networth,age,country,source,industry
2608,2608,2578.,Jorge Gallardo Ballart,$1 B,80,Spain,pharmaceuticals,Healthcare
2609,2609,2578.,Nari Genomal,$1 B,82,Philippines,apparel,Fashion & Retail
2610,2610,2578.,Ramesh Genomal,$1 B,71,Philippines,apparel,Fashion & Retail
2611,2611,2578.,Sunder Genomal,$1 B,68,Philippines,garments,Fashion & Retail
2612,2612,2578.,Horst-Otto Gerberding,$1 B,69,Germany,flavors and fragrances,Food & Beverage

In [ ]:
forbes.shape

(2613, 8)

In [ ]:
forbes.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2613 entries, 0 to 2612
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2613 non-null   int64
 1   rank        2613 non-null   object
 2   name        2613 non-null   object
 3   networth    2613 non-null   object
 4   age         2528 non-null   object
 5   country     2613 non-null   object
 6   source      2613 non-null   object
 7   industry    2613 non-null   object
dtypes: int64(1), object(7)
memory usage: 163.4+ KB

In [ ]:
forbes.describe ()

       Unnamed: 0
count  2613.00000
mean   1306.00000
std     754.45245
min       0.00000
25%     653.00000
50%    1306.00000
75%    1959.00000
max    2612.00000

In [ ]:
forbes.describe (include = ['object'])

,rank,name,networth,age,country,source,industry
count,2613,2613,2613,2528,2613,2613,2613
unique,229,2599,229,77,76,896,19
top,1929.,Name,$1.5 B,58,United States,real estate,Finance & Investments
freq,147,13,147,79,719,148,386

In [ ]:
forbes.networth

Matpotlib